<!-- <div class="tab_container">

    <input type="radio" name="tabs" id="tab1">
    <label for="tab1"><i class="fa fa-pencil-square-o"></i><span>About</span></label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><i class="fa fa-code"></i><span>Code</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><i class="fa fa-bar-chart-o"></i><span>Skills</span></label>

    <input id="tab4" type="radio" name="tabs">
    <label for="tab4"><i class="fa fa-folder-open-o"></i><span>Portfolio</span></label>

    <input id="tab5" type="radio" name="tabs">
    <label for="tab5"><i class="fa fa-envelope-o"></i><span>Contact</span></label>

</div> -->

<div ng-cotroller="AppCtrl" ng-cloak>
    <!-- <md-content></md-content> -->
</div>